<mat-form-field>
    <input autocomplete="off" matInput (keyup)="applyFilterRawMaterialRequests($event.target.value)" 
        placeholder="¿Que buscas?">
</mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="listData" matSort class="tb-top">
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-title"> Código Producto</th>
            <td mat-cell *matCellDef="let element"> {{element.id.productsCode}} </td>
        </ng-container>
        <ng-container matColumnDef="stockProducts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-title"> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stockProducts}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef class="th-title"> Fecha de inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef class="th-title"> Fecha final </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
        </ng-container>

        <ng-container matColumnDef="processedProducts">
            <th mat-header-cell *matHeaderCellDef class="th-title"> Productos procesados </th>
            <td mat-cell *matCellDef="let element"> {{element.processedProducts}} </td>
        </ng-container>

        <ng-container matColumnDef="productionStateBean">
            <th mat-header-cell *matHeaderCellDef class="th-title"> Estado de la produccion </th>
            <td mat-cell *matCellDef="let element"> {{element.productionStateBean.description}} </td>
        </ng-container>

        <ng-container matColumnDef="productBatch">
            <th mat-header-cell *matHeaderCellDef class="th-title"> Lote </th>
            <td mat-cell *matCellDef="let element"><a mat-button (click)="getById(element.id.productBatch)" class="btn-a" style="padding: 0; line-height: unset;text-align: unset;"><i class="fas fa-info-circle"></i></a></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="headerbranch"></tr>
        <tr mat-row *matRowDef="let row; columns: headerbranch;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
