<div class="form-edit">
    <div class="form-head">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="form-body-edit">
        <form #requestanalysisForm="ngForm" (ngSubmit)="save()">
            <label>Codigo</label>
            <input type="number" name="requestanalysiscode" #requestanalysiscode="ngModel"
            [(ngModel)]="requestanalysis.code" required pattern="[0-9]+" readonly>
            <small *ngIf="!requestanalysiscode.valid && requestanalysiscode.touched" style="color: red;">
                codigo invalido | solo se aceptan numeros
            </small>

            <label>Estado de la solicitud</label>
            <mat-form-field>
                <mat-label style="color: #000000;">Estado actual:
                    <b>{{requestanalysis.requestStatus.description}}</b>
                </mat-label>
                <mat-select name="descripcion" #descriptionstate="ngModel"
                [(ngModel)]="requestanalysis.requestStatus" required >
                  <mat-option *ngFor="let liststate of listrequeststates" [value]="liststate">
                    {{liststate.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        <div class="bn-cancel">
            <button type="submit" class="btn btn-info c" [routerLink]="['/requestanalysis']">Cancelar</button>
        </div>
    </div>
</div>
