<div class="form-edit">
    <div class="form-head">
        <h2>{{page_title}}</h2>
    </div>
    <div class="form-body-edit">
        <form #productionsForm="ngForm" (ngSubmit)="edit()">
            <label>Fecha de inicio de orden</label>
            <mat-form-field style="width: 100%;">
                <mat-label>Fecha de inicio de orden</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="startOrderDate" required name="startOrderDate" #start_OrderDate="ngModel" >
                <small *ngIf="!start_OrderDate.valid && start_OrderDate.touched" style="color: red;"></small>
                <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                <mat-datepicker #picker1 [(ngModel)]="startOrderDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}"></mat-datepicker>
            </mat-form-field>
            <label>Tiempo</label>
            <mat-form-field style="width:100%">
                <input matInput type="time" placeholder="Tiempo"  [(ngModel)]="time" required name="tiempo" #tiempo="ngModel" [ngModelOptions]="{standalone: true}">
                <small *ngIf="!tiempo.valid && tiempo.touched" style="color: red;"></small>
            </mat-form-field>
            <label>Fecha de creación</label>
            <mat-form-field style="width: 100%;">
                <mat-label>Fecha de creación</mat-label>
                <input matInput [matDatepicker]="picker3" [(ngModel)]="createDate" required name="createDate" #create_Date="ngModel" >
                <small *ngIf="!create_Date.valid && create_Date.touched" style="color: red;"></small>
                <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
                <mat-datepicker #picker3 [(ngModel)]="createDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}" ></mat-datepicker>
            </mat-form-field>
            <label>Fecha de expiración</label>
            <mat-form-field style="width: 100%;">
                <mat-label>Fecha de creación</mat-label>
                <input matInput [matDatepicker]="picker4" [(ngModel)]="expirationDate" required name="expirationDate" #expiration_Date="ngModel" >
                <small *ngIf="!expiration_Date.valid && expiration_Date.touched" style="color: red;"></small>
                <mat-datepicker-toggle matSuffix [for]="picker4" ></mat-datepicker-toggle>
                <mat-datepicker #picker4 [(ngModel)]="expirationDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}" ></mat-datepicker>
            </mat-form-field>
            <button type="submit" class="btn btn-primary" [disabled]="productionsForm.invalid">Actualizar</button>     
        </form>
        <div class="bn-cancel">
            <button type="submit" class="btn btn-info c" [routerLink]="['/productions']">Cancelar</button>
        </div>
    </div>
</div>
