<div class="cont-padre">
  <div class="tab-head">
    <h2>{{title}}</h2>
  </div>
  <div class="tab-body">
    <div class="btn-agregar"><app-create-machinery-type-dialog></app-create-machinery-type-dialog></div>
    <table class="tab">
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let machineryType of machineryTypes">
        <th>{{machineryType.code}}</th>
        <th>{{machineryType.description}}</th>
        <th>
          <button id="btn-ver" type="submit" [routerLink]="['/machineryType/show/', machineryType.code]"><i class="fas fa-eye"></i> Ver</button>&nbsp;
          <button id="btn-edit" type="submit" [routerLink]="['/machineryType/', machineryType.code]"><i class="fas fa-edit"></i> Editar</button>&nbsp;
          <button id="btn-del" type="submit" (click)="delete(machineryType.code)"><i class="fas fa-trash-alt"></i> Eliminar</button>
        </th>
      </tr>

    </table>
  </div>
</div>
