<div class="form-edit">
  <div class="form-head">
    <h2>{{pageTitle}}</h2>
  </div>
  <div class="form-body-edit">
    <form #machinestateForm="ngForm" (ngSubmit)="save()">
      <div class="p-3">
        <div class="col p-1">
          <label>Name</label>
          <input type="text" name="name" #name="ngModel"
                 [(ngModel)]="machinery.name" class="form-control"
                 placeholder="escriba el nombre de la maquina" required pattern="[a-zA-Z 0-9]+">
          <small *ngIf="!name.valid && name.touched" style="color: #ff0000;">
            nombre invalido
          </small>
        </div>
        <div class="col p-1">
          <label>Reference</label>
          <input type="text" name="reference" #reference="ngModel"
                 [(ngModel)]="machinery.reference" class="form-control"
                 placeholder="escriba la referencia" required pattern="[a-zA-Z0-9 ]+">
          <small *ngIf="!reference.valid && reference.touched" style="color: red;">
            referencia invalida
          </small>
        </div>
        <div class="col p-1">
          <label>Production Capacity</label>
          <input type="text" name="productionCapacity" #productionCapacity="ngModel"
                 [(ngModel)]="machinery.productionCapacity" class="form-control"
                 placeholder="escriba la capacidad de produción" required pattern="[0-9]+">
          <small *ngIf="!productionCapacity.valid && productionCapacity.touched" style="color: red;">
            Capacidad de producción invalida, solo números
          </small>
        </div>
        <div class="col p-1">
          <mat-form-field>
            <mat-label>BranchOffice</mat-label>
            <mat-select name="branchOffice" #branchOffice="ngModel"
                        [(ngModel)]="machinery.branchOfficeBean.code" required >
              <mat-option *ngFor="let branchOffice of branchOffices" [value]="branchOffice.code">
                {{branchOffice.address}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col p-1">
          <mat-form-field>
            <mat-label>Machine State</mat-label>
            <mat-select name="machineState" #machineState="ngModel"
                        [(ngModel)]="machinery.machineStateBean.code" required >
              <mat-option *ngFor="let machineState of machinestates" [value]="machineState.code">
                {{machineState.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col p-1">
          <mat-form-field>
            <mat-label>Human Resource</mat-label>
            <mat-select name="humanResource" #humanResource="ngModel"
                        [(ngModel)]="machinery.humanResourceBean.code" required >
              <mat-option *ngFor="let humanResource of humanresources" [value]="humanResource.code">
                {{humanResource.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col p-1">
          <mat-form-field>
            <mat-label>Machinery Type</mat-label>
            <mat-select name="machineryType" #machineryType="ngModel"
                        [(ngModel)]="machinery.machineryTypeBean.code" required >
              <mat-option *ngFor="let machineryType of machineryTypes" [value]="machineryType.code">
                {{machineryType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="machinestateForm.invalid">{{btn}}</button>
    </form>
    <div class="bn-cancel">
      <button type="submit" class="btn btn-info c"
              [routerLink]="['/humanresource']" >Cancelar</button>
    </div>
  </div>
</div>
