<div class="form-edit">
    <div class="form-head">
        <h2>{{page_title}}</h2>
    </div>
    <div class="form-body-edit">
        <form #rawMaterialRequestsForm="ngForm" (ngSubmit)="edit()">
            <label>Fecha de solicitud</label>
            <mat-form-field style="width: 100%;">
                <mat-label>Fecha de solicitud</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="requestDate" required name="request_date" #request_date="ngModel" [ngModelOptions]="{standalone: true}">
                <small *ngIf="!request_date.valid && request_date.touched" style="color: red;"></small>
                <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                <mat-datepicker #picker1 [(ngModel)]="requestDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}"></mat-datepicker>
            </mat-form-field>
            <label>Número de orden</label>
            <input type="number" name="numberOrder" #number_order="ngModel" [(ngModel)]="numberOrder" class="form-control" placeholder="Escribe el número de orden" required>
            <small *ngIf="!number_order.valid && number_order.touched" style="color: red;"></small>
            <label>Número de Lote</label>
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" [(ngModel)]="numberBatch" [ngModelOptions]="{standalone: true}" required #number_batch="ngModel">
                <option [value]="list.code" *ngFor="let list of listDataProductions" required>{{list.code}}</option>
                </select>
                <small *ngIf="!number_batch.valid && number_batch.touched" style="color: red;"></small>
                <div class="input-group-append" >
                    <button class="btn btn-outline-secondary" type="button" style="margin: 0;width: 100%;" (click)="getProductionById(numberBatch)"><i class="far fa-question-circle"></i></button>
                </div>
            </div>
            <label>Estado</label>
            <input type="number" name="state" #state_form="ngModel" [(ngModel)]="state" class="form-control" placeholder="Escribe el número del estado" required>
            <small *ngIf="!state_form.valid && state_form.touched" style="color: red;"></small>
            <button type="submit" class="btn btn-primary" [disabled]="rawMaterialRequestsForm.invalid">Actualizar</button>     
        </form>
        <div class="bn-cancel">
            <button type="submit" class="btn btn-info c" [routerLink]="['/raw-material-requests']">Cancelar</button>
        </div>
    </div>
</div>
