<div class="form-edit">
    <div class="form-head">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="form-body-edit">
        <form #requeststatusForm="ngForm" (ngSubmit)="save()">
            <label>Descripcion</label>
            <input name="description" #description="ngModel"
                   [(ngModel)]="requestState.description" required pattern="[a-zA-Z ]+">
            <small *ngIf="!description.valid && description.touched" style="color: red;">
                descripcion invalida solo texto
              </small>
            <button type="submit" class="btn btn-primary" [disabled]="requeststatusForm.invalid">Actualizar</button>
        </form>
        <div class="bn-cancel">
            <button type="submit" class="btn btn-info c" [routerLink]="['/requeststatus']">Cancelar</button>
        </div>
    </div>
</div>
