<div class="panel-machine">
    <div class="machine">
        <div class="machine-all all">
            <h2>Total Maquinas</h2>
            <h1>{{listinfomachineryall}}</h1>
        </div>
        <div class="machine-all dis">
            <h2>Maquinas Disponibles</h2>
            <h1>{{listinfomachinarydispo}}</h1>
        </div>
    </div>
     <div class="machine">
        <div class="machine-all ocu">
            <h2>Maquinas Ocupadas</h2>
            <h1>{{listinfomachinaryocu}}</h1>
        </div>
        <div class="machine-all mto">
            <h2>Maquinas en Mantenimiento</h2>
            <h1>{{listinfomachinarymto}}</h1>
        </div>
    </div>
    <div class="machine">
        <div class="machine-all rep">
            <h2>Maquinas en Reparacion</h2>
            <h1>{{listinfomachinaryrep}}</h1>
        </div>
    </div>
</div>
