<div class="cont-padre">
    <div class="tab-head">
        <h2>{{title}}</h2>
    </div>
    <div class="tab-body">
        <div class="btn-agregar">
            <button [routerLink]="['/paneladmin']" class="bn-return">regresar al panel</button>
        </div>
        <table class="tab">
                <tr class="tr">
                    <th class="th">Codigo</th>
                    <th class="th">Descripcion</th>
                    <th class="th">Acciones</th>
                </tr>
                <tr *ngFor="let machinstate of machinstates" class="tr">
                    <th class="th">{{machinstate.code}}</th>
                    <th class="th">{{machinstate.description}}</th>
                    <th class="th">
                        <button id="btn-ver" type="submit" [routerLink]="['/machinestate/show/', machinstate.code]"><i class="fas fa-eye"></i> Ver</button>&nbsp;
                        <button id="btn-edit" type="submit" [routerLink]="['/Machinestate/', machinstate.code]"><i class="fas fa-edit"></i> Editar</button>&nbsp;
                        <button id="btn-del" type="submit" (click)="deletemachinestate(machinstate.code)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </th>
                </tr>

        </table>
    </div>
</div>