<div class="form-edit">
    <div class="form-head">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="form-body-edit">
        <form #requestbatchesForm="ngForm" (ngSubmit)="save()">

            <label>fecha de solicitud: </label>
            <input type="text" name="requestDate" #requestDate="ngModel" [(ngModel)]="requestbatches.requestDate"
              class="form-control" readonly>
            <small *ngIf="!requestDate.valid && requestDate.touched" style="color: red;">
                Debes seleccionar una fecha
            </small>

            <mat-form-field>
                <mat-label style="color: #000000;">N° de lote:
                </mat-label>
                <mat-select name="productcode" #productcode="ngModel"
                    [(ngModel)]="requestbatches.production" required>
                    <mat-option *ngFor="let listproduc of listproduction" [value]="listproduc">
                        {{listproduc.code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <label>Analisis Solicitud</label>
            <mat-form-field>
                <mat-label style="color: #000000;">Estado actual:
                    <b>{{requestbatches.state.description}}</b>
                </mat-label>
                <mat-select name="descriptionstate" #descriptionstate="ngModel"
                    [(ngModel)]="requestbatches.state" required>
                    <mat-option *ngFor="let liststate of liststaterequestbatches" [value]="liststate">
                        {{liststate.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <button type="submit" class="btn btn-primary"
            [disabled]="requestbatchesForm.invalid">Actualizar</button>
        </form>
        <div class="bn-cancel">
            <button type="submit" class="btn btn-info c" [routerLink]="['/requestbatches']">Cancelar</button>
        </div>
    </div>
</div>
