<div class="cont-padre">
    <div class="tab-head">
        <h2>Estado de producción</h2>
    </div>
    <div class="tab-body">
        <!-- <div class="btn-agregar"><app-add-production-states-dialog></app-add-production-states-dialog></div> -->
        <div class="btn-agregar">
            <button [routerLink]="['/paneladmin']" class="bn-return">regresar al panel</button>
        </div>
        <table class="tab">
                <tr>
                    <th>Code</th>
                    <th>Descripción</th>
                    <th>Acciónes</th>
                </tr>
                <tr *ngFor="let list of listData">
                    <th>{{list.code}}</th>
                    <th>{{list.description}}</th>
                    <th>
                        <button id="btn-ver" type="submit" [routerLink]="['/production-states/show/', list.code]"><i class="fas fa-eye"></i> Ver</button>&nbsp;
                        <button id="btn-edit" type="submit" [routerLink]="['/production-states/', list.code]"><i class="fas fa-edit"></i> Editar</button>&nbsp;
                        <button id="btn-del" type="submit" (click)="mostrarDialogo(list.code)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </th>
                </tr>

        </table>
    </div>
    
</div>