<mat-dialog-content class="mat-typography me">
    <div class="formu">
      <div class="head-form">
        <h2 mat-dialog-title>{{page_title}}</h2>
      </div>
      <div class="body form">
        <form #rawMaterialRequestsForm="ngForm" (ngSubmit)="save()">
          <div class="p-3">
            <div class="col p-1">
              <div class="col p-1">
                <label>Fecha de solicitud</label><br>
                <mat-form-field style="width: 100%;">
                    <mat-label>Fecha de solicitud</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="requestDate" required name="request_date" #request_date="ngModel" [ngModelOptions]="{standalone: true}">
                    <small *ngIf="!request_date.valid && request_date.touched" style="color: red;"></small>
                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [(ngModel)]="requestDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col p-1">
                <label>Número de orden</label><br>
                <input type="number" name="numberOrder" #number_order="ngModel" [(ngModel)]="numberOrder" class="form-control" placeholder="Escribe el número de orden" required>
                <small *ngIf="!number_order.valid && number_order.touched" style="color: red;"></small>
              </div>
              <div class="col p-1">
                <label>Número de Lote</label><br>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" [(ngModel)]="numberBatch" [ngModelOptions]="{standalone: true}" required #number_batch="ngModel">
                    <option [value]="list.code" *ngFor="let list of listDataProductions" required>{{list.code}}</option>
                  </select>
                  <small *ngIf="!number_batch.valid && number_batch.touched" style="color: red;"></small>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="getProductionById(numberBatch)">Buscar</button>
                  </div>
                </div>
              </div>
              <div class="col p-1">
                <label>Estado</label><br>
                <input type="number" name="state" #state_form="ngModel" [(ngModel)]="state" class="form-control" placeholder="Escribe el número del estado" required>
                <small *ngIf="!state_form.valid && state_form.touched" style="color: red;"></small>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="rawMaterialRequestsForm.invalid" class="btn btn-primary">{{btn}}</button>
        </form>
      </div>
    </div>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  </mat-dialog-actions>
