<mat-dialog-content class="mat-typography me">
    <div class="formu">
      <div class="head-form">
        <h2 mat-dialog-title>{{page_title}}</h2>
      </div>
      <div class="body form">
        <form #productionDetailsForm="ngForm" (ngSubmit)="save()">
          <div class="p-3">
            <div class="col p-1">
            <div class="col p-1">
                <label>Número de producto</label><br>
                <select class="form-control" [(ngModel)]="productsCode" [ngModelOptions]="{standalone: true}" required #number_product="ngModel">
                  <option [value]="product.code" *ngFor="let product of products">{{product.name}}</option>
                </select>
                <small *ngIf="!number_product.valid && number_product.touched" style="color: red;"></small>
            </div>
            <div class="col p-1">
                <label>Número de stock</label><br>
                <input type="number" name="stockProducts" #stock_products="ngModel" [(ngModel)]="stockProducts" class="form-control" placeholder="Escribe el número del stock" required>
                <small *ngIf="!stock_products.valid && stock_products.touched" style="color: red;"></small>
            </div>
            <div class="col p-1">
                <label>Fecha de inicio</label><br>
                <mat-form-field style="width: 100%;">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" required name="start_date" #start_date="ngModel" [ngModelOptions]="{standalone: true}">
                    <small *ngIf="!start_date.valid && start_date.touched" style="color: red;"></small>
                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [(ngModel)]="startDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col p-1">
                <label>Fecha final</label><br>
                <mat-form-field style="width: 100%;">
                    <mat-label>Fecha final</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" required name="end_date" #end_date="ngModel" [ngModelOptions]="{standalone: true}">
                    <small *ngIf="!end_date.valid && end_date.touched" style="color: red;"></small>
                    <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                    <mat-datepicker #picker2 [(ngModel)]="endDate" ngDefaultControl (selectedChanged)="onChange($event)" [ngModelOptions]="{standalone: true}"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col p-1">
                <label>Productos procesados</label><br>
                <input type="number" name="processedProducts" #processed_products="ngModel" [(ngModel)]="processedProducts" class="form-control" placeholder="Escribe el número de productos procesados" required>
                <small *ngIf="!processed_products.valid && processed_products.touched" style="color: red;"></small>
            </div>
            <div class="col p-1">
                <label>Estado de la produccion</label><br>
                <select class="form-control" [(ngModel)]="productionStateBean" [ngModelOptions]="{standalone: true}" required #production_states="ngModel">
                  <option [value]="state.code" *ngFor="let state of productionStates">{{state.description}}</option>
                </select>
                <small *ngIf="!production_states.valid && production_states.touched" style="color: red;"></small>
            </div>
            <div class="col p-1">
                <label>Número de produccion</label><br>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" [(ngModel)]="productBatch" [ngModelOptions]="{standalone: true}" required #number_batch="ngModel">
                    <option [value]="list.code" *ngFor="let list of productions" required>{{list.code}}</option>
                  </select>
                  <small *ngIf="!number_batch.valid && number_batch.touched" style="color: red;"></small>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="getByIdProductions(productBatch)">Buscar</button>
                  </div>
                </div>
            </div>
            </div>
          </div>
          <button type="submit" [disabled]="productionDetailsForm.invalid" class="btn btn-primary">{{btn}}</button>
        </form>
      </div>
    </div>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  </mat-dialog-actions>
