<div class="cont-padre">
    <div class="tab-head">
        <h2>Solicitud materia prima</h2>
    </div>
    <div class="tab-body">
        <div class="btn-agregar">
            <button [routerLink]="['/paneladmin']" class="bn-return">regresar al panel</button>
        </div>
        <table class="tab">
                <tr>
                    <th>Code</th>
                    <th>Fecha de solicitud</th>
                    <th>Número de orden</th>
                    <th>Lote</th>
                    <th>Estado</th>
                    <th>Acciónes</th>
                </tr>
                <tr *ngFor="let list of listDataRawMaterialRequests">
                    <th>{{list.code}}</th>
                    <th>{{list.requestDate}}</th>
                    <th>{{list.numberOrder}}</th>
                    <th><button id="btn-ver" type="submit"  style="margin: 0 auto!important;" (click)="getById(list.code)"><i class="fas fa-eye"></i> Ver</button></th>
                    <th>{{list.state}}</th>
                    <th>
                        <button id="btn-ver" type="submit" [routerLink]="['/raw-material-requests/show/', list.code]"><i class="fas fa-eye"></i> Ver</button>&nbsp;
                        <button id="btn-edit" type="submit" [routerLink]="['/raw-material-requests/', list.code]"><i class="fas fa-edit"></i> Editar</button>&nbsp;
                        <button id="btn-del" type="submit" (click)="mostrarDialogo(list.code)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </th>
                </tr>

        </table>
    </div>
    
</div>