<div class="form-edit">
    <div class="form-head">
        <h2>Editando estado de la maquina</h2>
    </div>
    <div class="form-body-edit">
        <form #machinestateForm="ngForm" (ngSubmit)="save()">
            <label>Descripcion</label>
            <input name="description" #description="ngModel" 
            [(ngModel)]="machinstate.description" required pattern="[a-zA-Z ]+">
            <small *ngIf="!description.valid && description.touched" style="color: red;">
                descripcion invalida solo texto
              </small>
            <button type="submit" class="btn btn-primary" [disabled]="machinestateForm.invalid">Actualizar</button>           
        </form>
        <div class="bn-cancel">
            <button type="submit" class="btn btn-info c" 
            [routerLink]="['/machinestate']" >Cancelar</button>
        </div>
    </div>
</div>
